.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(206, 194, 194);
    position: sticky;
    top: 0;
    z-index: 100;
}

.headerLogo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
}

.headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.headerSearchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.headerSearchIcon {
    padding: 5px;
    height: 22px;
    background-color: rgb(245, 183, 111);
}

.headerOptionLine1{
    font-size: 10px;

}

.headerOptionLine2{
    font-size: 13px;
    font-weight: 800;
}

.headerOptionYourCart{
    display: flex;
    align-items: center;
}

.headerBasketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.headerNav{
    display: flex;
    justify-content: space-evenly;
}



.headerOption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:rgb(0, 0, 0);
}